body {
  margin: 0;
  height: 1050px;
  font-family: 'Ubuntu', sans-serif;
}

.profession {
  display: flex;
  height: 100vh;
  flex-direction: row;
  background-image: url("img/header-background.jpg");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.profession__text {
  margin-bottom: 230px;
  font-family: 'Ubuntu', italic;
}

.present {
  background: #ced1c7;
  text-align: center;
}

.present__text {
  padding: 16px 16px;
  line-height: 1.8em;
  margin: 0 auto;
  max-width: 640px;
}

.contact__link {
  height: 340px;
}

.contact-link-style {
  margin-top: 50px
}

.logo {
  text-align: center;
}

.logo__img {
  margin-top: 134px;
  border-radius: 50%;
  transition: 0.3s;
  height: 250px;
}

.logo__img:hover {
  webkit-transition: border-radius 2s;
  background: #000;
  border-radius: 40%;
}

.name {
  height: 350px;
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
}

.front {
  display: flex;
  height: 350px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -50px;
}

.timer {
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  font-size: 19px;
}

.nav {
  height: 76px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding-right: 220px;
}

.nav__item {
  background: transparent;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 52px;
  margin: 10px;
  width: 130px;
  color: white;
  text-decoration: none;
  letter-spacing: 4px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(102, 119, 136, .55);
  transition: background-color 0.7s ease;
}

.nav-item:hover {
  background: #414244;
}

.contact {
  height: 180px;
  background: #6d7275
}

.contact-link {
  text-decoration: none;
}

.skills {
  height: 426px;
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.skills__item {
  margin-top: 70px;
}

.footer__text {
  margin-top: 81px;
  margin-left: 30px;
  height: 76px;
  line-height: 85px;
  font-size: 13px;
}

footer {
  background: #414244;
  display: flex;
  color: white;
  font-size: 18px;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
}

.form {
  height: 35%;
  width: 40%;
  background: #5e93d4;
  align-items: center;
  width: 100%
}

form {
  border-radius: 15px;
  text-align: center;
}

.form__input {
  border-radius: 15px;
  justify-content: center;
}

.form__text {
  letter-spacing: 2px;
  color: #122843;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
`}

.form__text--input {
  margin: auto;
  margin-bottom: 25px;
}

.form-text2 {
  margin-bottom: 1rem;
  color: #122843;
}

.form__btn {
  border-radius: 15px;
  margin: auto;
}

.form-btn button {
  width: 205px;
  border-radius: 5px;
  border-color: #494d50;
  background: #494d50;
  color: #f1f4fc;
}

input {
  height: 20px;
  width: 205px;
  background: #f1f4fc;
  border-radius: 5px;
}