html {
  font-size: 10px;
  background: url(img/Desk.jpg) no-repeat;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
.samplerbody{
  flex-direction: column;
  background: url(img/sampler.png);
  height: 599px;
  width: 624px;
  margin: auto;
  margin-top: 100px;
  border-radius: 2%
}
.samplerkeys{
  display: flex;
  padding-top: 25px;
  padding-left: 40px;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.key {
  justify-content: center;
  width: 115px;
  height: 117px;
  background: url(img/szary.png);
  border-radius: 15%;
  margin-right:28px;
  text-align: center;
} 

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  background: url(img/zielony.png)
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  letter-spacing: .1rem;
}
footer{
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  font-size: 18px;
  height: 68px;
  padding-left: 45px;
}
